<div class="row-fluid">
  <div class="span9 offset1 post-content post-spacer"></div>
</div>
<div class="row-fluid post-full">
  <div class="span9 offset1 post-content">
    <div class="page-header">
      <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    </div>
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  {% include JB/sharing %}

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  
    <div style="clear: both"></div>

    <hr>
    <div class="navigation">
    {% if page.previous %}
      <span class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></span>
    {% endif %}
    {% if page.next %}
      <span class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a></span>
    {% endif %}
      <div style="clear: both"></div>
    </div>
    <hr>
    {% include JB/comments %}
  </div>

  <div class="span2 sidebar">
    <a href="/"><div id="photo"></div></a>
    <div id="bio">
      <b>Jason Liszka</b><br/>
      <i>Software engineer at Foursquare, CMU alum, Scala fan, new father</i>
    </div>
    <h4>Popular posts</h4>
    <ul>
      <li><a href="{{ site.posts[-8].url }}">{{ site.posts[-8].title }}</a></li>
      <li><a href="{{ site.posts[-1].url }}">{{ site.posts[-1].title }}</a></li>
      <li><a href="{{ site.posts[-11].url }}">{{ site.posts[-11].title }}</a></li>
      <li><a href="{{ site.posts[-7].url }}">{{ site.posts[-7].title }}</a></li>
    </ul>

    <h4>Recent posts</h4>
    <ul>
      {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

    <a href="https://twitter.com/jliszka" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @jliszka</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </div>
</div>
